<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<h2>HI</h2>

<form action="/pages/create" method="POST">
  <input type="text" name="full_url"><br>

  <input type="submit">
</form>

<ul>
  <% @pages.each do |page| %>
    <li>
      <%= page.id %>: <%= page.short_url %> - <%= page.full_url %>
    </li>
  <% end %>
</ul>
